

.app{
  display: grid;
  grid:
  "header header header header" auto
  "...... lists  active ......" auto/
  1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;

}

.title{
  grid-area: header;
  text-align: center;
  font-size: calc(6vw + 2rem);
  margin: -0.1em 0 0.5em;
}

.all-tasks{
  grid-area:lists;
  
}
.task-list{
  line-height: 1.7;
  font-size: 1.2rem;
  list-style:circle;
  padding-left:1.1em;
}

.active-catergory-list{
  font-weight:700;
}
.todo-list{
  grid-area: active;
}