
*, 
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.app{
  display: grid;
  background-color: rgba(35, 41, 43, 0.667);
  grid:
  "header header header header" auto
  "...... lists  active ......" auto/
  1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
  margin: 0 20%;
  padding: 3em 5em 5em 3em;
  box-shadow: 5px 5px 15px black;
  border-radius: 10px;
}

.title{
  grid-area: header;
  font-weight: 700;
  text-align: center;
  font-size: calc(5vw + 2rem);
  margin: -0.1em 0 0.5em;
}

.all-tasks{
  grid-area:lists;
  margin-right: 0.75em;
  
  
}
.task-list{
  line-height: 1.7;
  font-size: 1.2rem;
  list-style:circle;
  padding-left:1em;
}

.active-list{
  font-weight:700;
}

.catergory-list{
  cursor: pointer;
}


form{
  display: flex;
  position: relative;
}


.btn{
  cursor: pointer;
  background: 0;
  border: 0;

  color:inherit;
  
}

.btn.create{
  font-size: 1.5rem;
  font-weight: 900;
  transition: opacity 250ms ease-in;

}

.btn.delete{
  opacity: 0.7;
  font-size: 1rem;

}

.btn.delete:hover{
  color: var(--warning-clr);
}
.btn.create:hover{
  opacity: 0.7;
}

.new{
  background:transparent;
  border:0;
  padding: 0.25em;
  color:inherit;
  font-size: 1.2rem;
  border-bottom: 1px solid currentColor;
  outline: none;
  transition:border-bottom 150ms ease-in;
  order: 2;
}

.new::placeholder{
  opacity: 0.5;
}

.new:focus { 
  border-bottom-width: 3px;
}

.new:focus::placeholder{
  opacity:0.15;
}

.new.list {
  font-size: 1.1rem;

}

.new.task{
  margin: 0;

}

.todo-list{
  --spacer: 1.5rem;
  grid-area: active;
  margin-left:2em;
  background: var(--light-clr);
  color: var(--dark-clr);
}

.todo-header{
  padding: var(--spacer);
  background: #b4afaf;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.todo-title{
  margin: 0 1rem 0 0 ;
}

.task-counter{
  margin:0;
  font-size: 1rem;
}

.todo-body{
  padding: var(--spacer);
  position: relative;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}


.task label {
  display:inline-flex;
  align-items: center;
  position: relative;
  
}

.task{
  position: relative;
  margin-bottom: 1.25em;
}
.task::after{
  content:"";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: currentColor;
  opacity: 0.1;

}
.custom-checker{
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor:pointer;
  border:2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.task:hover .custom-checker, [type="checkbox"]:focus + label .custom-checker{
  transform: scale(1.2);
  color: #7086c4e1;
}


[type="checkbox"]:checked + label .custom-checker{
  background:  #7086c4e1;
  border-color:  #7086c4e1;
  box-shadow: inset 0 0 0px 2px white ;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;

}

.task label::after{
  content: "";
  position: absolute;
  left: 0;
  right:0;
  left:1.5em;
  top:50%;
  height: 3px;
  background: currentColor;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out ;
}

[type="checkbox"]:checked + label::after{
  transform: scaleX(1);
  transform-origin: left;
}

.deleting-task{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width:100%;
  bottom: -35px;
  left: 0;
  color: var(--light-clr);
  
}

